* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: Arial, Helvetica, sans-serif; }

.nav {
  width: 100%;
  height: 120px;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #757575; }
  .nav .nav__logo {
    margin-bottom: 10px;
    height: 75px;
    display: block; }
    .nav .nav__logo img {
      height: 100%; }
  .nav .nav__enlaces {
    display: inline-block; }
    .nav .nav__enlaces a {
      text-decoration: none;
      padding-left: 10px;
      height: 40px;
      color: #fff; }
    .nav .nav__enlaces a:hover {
      color: #3434e4; }

.main {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #C7C7C7; }
  .main .online {
    background: #2e2b2bde;
    border-radius: 15px;
    padding: 15px;
    width: 40%;
    display: grid;
    column-gap: 15px;
    grid-template-columns: repeat(3, 1fr); }
    .main .online .online__directo {
      grid-column: span 2;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-around; }
      .main .online .online__directo .directo__emisora {
        display: flex;
        justify-content: space-evenly; }
        .main .online .online__directo .directo__emisora div {
          display: inline-block; }
          .main .online .online__directo .directo__emisora div img {
            width: 100%;
            height: auto;
            border-radius: 15px; }
          .main .online .online__directo .directo__emisora div p {
            margin: 10px;
            font-size: 17px;
            color: #fff; }
      .main .online .online__directo .directo__audio {
        display: flex;
        text-align: center; }
    .main .online .online__listadotop {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center; }
      .main .online .online__listadotop .listadotop__titulo {
        text-align: center;
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 5px;
        color: #5c66c0; }
      .main .online .online__listadotop .listadotop__top .top__seccion {
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        border-bottom: 2px dotted #757575;
        padding: 12px 0px 5px 0px; }
        .main .online .online__listadotop .listadotop__top .top__seccion .top__seccion__radio {
          color: #5c66c0; }
          .main .online .online__listadotop .listadotop__top .top__seccion .top__seccion__radio .variable {
            color: #fff; }
        .main .online .online__listadotop .listadotop__top .top__seccion a {
          color: #5c66c0; }
        .main .online .online__listadotop .listadotop__top .top__seccion a:hover {
          color: #000;
          cursor: pointer; }
  .main .emisoras {
    width: 80%; }
    .main .emisoras .emisoras__h1 {
      padding-left: 100px;
      padding-top: 5px;
      padding-bottom: 5px;
      margin: 25px;
      border-top: 1px dashed #010101;
      border-bottom: 1px dashed #010101; }
    .main .emisoras .emisoras__listado {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(auto-fill, minmax(115px, 0.5fr));
      justify-content: space-evenly;
      align-content: space-evenly; }
      .main .emisoras .emisoras__listado .listado__items {
        align-items: center;
        justify-items: center;
        border-radius: 15px; }
        .main .emisoras .emisoras__listado .listado__items img {
          height: auto;
          width: 100%;
          border-radius: 15px; }
      .main .emisoras .emisoras__listado .listado__items:hover {
        align-items: end;
        justify-items: center; }
        .main .emisoras .emisoras__listado .listado__items:hover img:hover {
          width: 110%;
          cursor: pointer;
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7); }
    .main .emisoras .emisoras__adicional {
      margin-top: 55px; }
      .main .emisoras .emisoras__adicional p {
        text-align: center; }

.sonando {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7); }

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #1d1818;
  padding: 10px 0; }
  .footer .email {
    padding-bottom: 5px; }
    .footer .email a {
      text-decoration: none;
      padding: 0 10px;
      color: #fff; }
    .footer .email a:hover {
      color: #3434e4; }
  .footer .sociales {
    padding-top: 5px; }
    .footer .sociales a {
      margin: 0 10px;
      color: #fff; }
      .footer .sociales a .fa-facebook-f:hover {
        color: #3b5998; }
      .footer .sociales a .fa-twitter:hover {
        color: #1da1f2; }
      .footer .sociales a .fa-instagram:hover {
        color: #3f729b; }
      .footer .sociales a .fa-youtube:hover {
        color: #cd201f; }
    .footer .sociales a:hover {
      color: #3434e4; }

@media screen and (max-width: 1059px) {
  .main .online {
    width: 50%; } }

@media screen and (max-width: 768px) {
  .main .online {
    width: 60%; } }

@media screen and (max-width: 625px) {
  .main .online {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, auto);
    width: 60%; }
    .main .online .online__directo .directo__audio {
      margin: 15px; } }
